version: '3.8'

services:
  postgresql:
    image: postgres:15
    container_name: visitor_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: visitor_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build:
      context: .
      target: runner
    container_name: visitor_app
    restart: always
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: postgres://postgres:root@postgresql:5432/visitor_db?sslmode=disable
    depends_on:
      - postgresql

  nginx:
    image: nginx:latest
    container_name: visitor_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app

volumes:
  pgdata:
